* {
    box-sizing: border-box;
}

header,
footer {
    background: transparent;
}

header {
    height: 7vh;
    border-bottom: 0.1em solid #006064;
    margin: 0 2em;
}

footer {
    height: 5vh;
}

header,
footer,
article,
nav,
aside {
    padding: 1em;
}

.cp-app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #01939a;
}

.cp-main {
    display: flex;
    flex: 1;
}

.cp-main > article {
    flex: 1;
    order: 1;
}

.cp-div-canvas {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp-div-canvas div {
    /* width: 100px;
  height: 100px; */
    flex: none;
    max-width: 50%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
