body {
  padding: 0px;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background-color: #01939a;
}

* {
  box-sizing: border-box;
}

header,
footer {
  background: transparent;
}

header {
  height: 6vh;
  border-bottom: 0.1em solid #006064;
  margin: 0 2em;

  position:fixed;
  left:0;
  right:0;
  top:0;
}

footer {
  height: 5vh;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0em;
}

//nav ul {
//  padding: 0;
//  margin: 0;
//}
//
//nav li {
//  display: block;
//  float: right;
//  padding: 10px;
//}

.body {
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  //overflow-y:auto;
  margin-top: 6vh;
  margin-bottom: 5vh;
}

.pc-app {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.pc-main {
  display: flex;
  flex: 1;
}

.pc-main > article {
  flex: 1;
  order: 1;
}

.pc-div-canvas {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc-div-canvas div {
  flex: none;
  max-width: 100%;
}

// Pixel Canvas
.pc-pixel-canvas {
  position: relative;
  background-color: #006064;
  padding: 0.4em;
  width: 50vw;
  height: 50vw;

  display: grid;
  grid-template-columns: repeat(0, 1fr);
  grid-template-rows: repeat(0, 1fr);

  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.pc-pixel-button {
  height: 100%;
  width: 100%;
  padding: 0px;

  background-color: white;

  border-top: 0;
  border-left: 0;
  border-bottom: 0.1em solid #b6b6b6;
  border-right: 0.1em solid #b6b6b6;
}

.pc-pixel-button:hover {
  border: 0.2em solid #ffab00;
}